.lead {
  margin: 0 auto;
  padding: 48px 0 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .lead {
    width: calc(100% - 56px);
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    width: calc(100% - 296px);
  }
}
