.cover__overlay {
  background-color: #2A2C2F;
  opacity: 0.3;
  width: 100%;
  min-height: 200px;
}

.cover__overlay:hover {
  opacity: 0.8;
}

/* @media screen and (min-width: 768px) {
  .cover__overlay {
    height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__overlay {
    height: 640px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .cover__overlay {
    min-height: 740px;
    max-width: 1184px;
  }
} */
