@media screen and (max-width: 767px) {
  .into__title {
    font-size: 32px;
    line-height: 35px;
  }
}
@media screen and (min-width: 767px) {
  .into__title {
    font-size: 54px;
    line-height: 58px;
  }
}

.into__title {
  font-style: normal;
  font-weight: 900;
  margin: 0;
}
